		<!-- Start Cloud Hosting Services -->
<section id="cloudhosting" class="services-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>How we do it..</h2>
                    <div class="bar"></div>
                    <p>Anyone can code something. But frontier organizations harness technology as a trigger for change. At Softwire Systems, technology has an elevated seat at the innovation table. We hack, build and experiment as part of the strategic process to envision customer experiences of tomorrow. Technology empowers us.</p>
                
                <p>Here are some of the ways that we use to disrupt the tech industry: </p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="cpu"></i> Innovation
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="github"></i> Teamwork and Collaboration
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="sun"></i> Passion
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="award"></i> Quality
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="trending-up"></i> Constant improvement
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <i data-feather="smile"></i> Commitment to Customers
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-6 col-md-12 services-left-image">
                <img src="~/Content/assets/img/services-left-image/big-monitor.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="big-monitor">
                <img src="~/Content/assets/img/services-left-image/creative.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="creative">
                <img src="~/Content/assets/img/services-left-image/developer.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="developer">
                <img src="~/Content/assets/img/services-left-image/flower-top.png" class="wow zoomIn" data-wow-delay="0.6s" alt="flower-top">
                <img src="~/Content/assets/img/services-left-image/small-monitor.png" class="wow bounceIn" data-wow-delay="0.6s" alt="small-monitor">
                <img src="~/Content/assets/img/services-left-image/small-top.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="small-top">
                <img src="~/Content/assets/img/services-left-image/table.png" class="wow zoomIn" data-wow-delay="0.6s" alt="table">
                <img src="~/Content/assets/img/services-left-image/target.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="target">
                <img src="~/Content/assets/img/services-left-image/cercle-shape.png" class="bg-image rotateme" alt="shape">

                <img src="~/Content/assets/img/services-left-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="main-pic">
           
            
             </div>

        
            </div>
    </div>
</section>
<!-- End Cloud Hosting Services -->
