 <!-- Start Partner Area -->
<div class="partner-area partner-section">
    <div class="container">
        <h5 style="font-size:30px;">Some of our friends and clients</h5>

        <div class="partner-inner">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/vivo_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/vivo.png" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/UCC_dark.jpg" alt="partner">
                        <img src="~/Content/assets/img/partner-img/UCC.jpg" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/Imagine_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/Imagine.png" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/firemasters_dark.jpg" alt="partner">
                        <img src="~/Content/assets/img/partner-img/firemasters.jpg" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/blucruise_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/blucruise.png" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/kobs_dark.jpeg" alt="partner">
                        <img src="~/Content/assets/img/partner-img/kobs.jpeg" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/record_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/record.png" alt="partner">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/steppingstone_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/steppingstone.png" alt="partner">
                    </a>
                </div>


                <div class="col-lg-2 col-md-3 col-6">
                    <a href="#">
                        <img src="~/Content/assets/img/partner-img/glorious_dark.png" alt="partner">
                        <img src="~/Content/assets/img/partner-img/glorious.png" alt="partner">
                    </a>
                </div>

             

            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->