 <!-- Start Ready To Talk Area -->
<section id="contact" class="ready-to-talk">
    <div class="container">      
        <h3>Ready to talk?</h3>
        <p>Our team is here to answer any questions.</p>
        @*<a href="#" class="btn btn-primary">Contact Us</a>*@
        @Html.Bootstrap().ActionLinkButton("Contact Us", "Contact").Class("btn btn-primary")
      
    </div>
</section>
<!-- End Ready To Talk Area -->