		
<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/Content/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/Content/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/Content/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start About Area -->
<section class="about-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="~/Content/assets/img/developer1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Our Story</h2>
                        <div class="bar"></div>
                        <p>Founded in 2017 and based in Kampala-Uganda, Softwire Systems is a trusted I.T company specializing in the design and development of web systems, android and IOS mobile applications and offering of various cloud hosting and I.T support services.</p>
                    </div>

                    <p>We collaborate with companies and individuals to help them visualize and plan how their vision can materialize into game changing products and services. Our work spans the complete innovation process from customer insight and opportunity mapping to technical feasibility and prototyping. The result is a blueprint for what to design and build.</p>

                    <p>At Softwire Systems, we help our clients rethink their businesses by offering to build corporate web-based systems to help enterprises automate processes, increase productivity, and facilitate workflow management.
                     We help them navigate the ever changing business landscape and align their organization with the wonders of modern day technology.</p>

                    <p>The result is a clear understanding of how their strategy should translate to their customers / target groups, with tools that propel their organizations into the new era of mordern day Information & Communication Technology.</p>

                </div>
            </div>
        </div>

        <div class="about-inner-area">
         
            <!-- Start Boxes Area -->
            @*<section class="boxes-area">*@
            <section>
                <div class="container">
                    <h1>Core values</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single-box">
                                <div class="icon">
                                    <i data-feather="users"></i>
                                </div>
                                <h3>Focus on the user and all else will follow.</h3>
                                <p>
                                    At Softwire Systems, every aspect of the user’s interaction with our products, services,
                                    or our company itself is never at any time overlooked.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="single-box bg-f78acb">
                                <div class="icon">
                                    <i data-feather="thumbs-up"></i>
                                </div>
                                <h3>Honesty</h3>
                                <p>
                                    At Softwire Systems, we believe that honesty on our part as well as on the part of our clients is the most important
                                    aspect of a happy, successful and fulfilled business relationship.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="single-box bg-c679e3">
                                <div class="icon">
                                    <i data-feather="git-branch"></i>
                                </div>
                                <h3>Teamwork</h3>
                                <p>
                                    At Softwire Systems, we work together to meet the needs of our clients and to help our company win.
                                    With teamwork, we will soar to the heights of the technology giants on the globe.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="single-box bg-eb6b3d">
                                <div class="icon">
                                    <i data-feather="code"></i>
                                </div>
                                <h3>Innovation</h3>
                                <p>
                                    At Softwire Systems, we focuss our efforts on developing a dynamic and sustainable innovation culture.
                                    It is an integral component of our work and with our client interactions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Boxes Area -->


        </div>
    </div>
</section>

<!-- End About Area -->
<br/><br/><br/>
